.dadosDolar,
.dadosIene,
.dadosEuro {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  margin: 10px auto;
  background-color: var(--cinza-claro);
  padding: 20px;
  border-radius: 10px;
}

.grafico {
  max-width: 500px;
}

.grafico__titulo {
  display: flex;
  align-items: center;
}

.grafico__titulo span {
  background-repeat: no-repeat;
}

.grafico__ilustracao-dolar {
  background-image: url("../imagens/cifrao.png");
}

.grafico__ilustracao-iene {
  background-image: url("../imagens/iene.png");
}

.grafico__ilustracao-euro {
  background-image: url("../imagens/euro.png");
}

.grafico__titulo h2 {
  color: var(--cinza);
  font-weight: 500;
  font-size: 24px;
  font-family: "Sarabun", sans-serif;
}

.investimentos__lista {
  color: var(--cinza);
  list-style: none;
  margin: 0 0 0 10px;
}

.investimentos__lista li {
  margin: 0.5em 0;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .dadosDolar,
  .dadosIene,
  .dadosEuro {
    display: flex;
    flex-direction: column;
  }

  .grafico {
    margin: 40px 0;
  }
}
